<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat Box Email</title>
  <style>
    /* Customize the chat box styles */
    .chat-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      padding: 10px;
      font-family: Arial, sans-serif;
    }

    .message {
      margin: 10px 0;
      padding: 15px;
      border-radius: 5px;
      background-color: #f4f4f4;
    }

    .message-sender {
      font-weight: bold;
      margin-bottom: 5px;
      color: #333;
    }

    .message-content {
      white-space: pre-wrap;
      margin-bottom: 10px;
      color: #555;
    }

    /* Responsive image styling */
    .message-image {
      display: block;
      max-width: 50px;
      margin-right: 10px;
      height: 50px;
      margin-top: 10px;
      border: 5px solid white;
      border-radius: 58%;
      box-shadow: 0px 1px 6px 2px gray;
    }

    /* Media query for smaller screens */
    @media (max-width: 600px) {
      .chat-container {
        padding: 5px;
      }

      .message {
        padding: 10px;
      }
    }
  </style>
</head>

<body>
  <div class="chat-container">
    <!-- {{#each messages}} -->
    <div class="message">
      <div style="display: flex;">
        <!-- {{#if this.photo}} -->
        <img
          src="{{this.photo}}" alt="Image" class="message-image" />
        <!-- {{/if}} -->
        <div>
          <p class="message-sender">{{this.screenName}}</p>
          <p class="message-content">{{this.text}}</p>
        </div>
      </div>

    </div>
    {{/each}}
  </div>
</body>

</html>